.features {
	height: 100%;
	padding-top: 100px;
}

.features > .container {
	position: relative;
	width: 100%;
	max-width: var(--app-width);
}

.features > .container .features-text {
	/* text-align: center; */
	margin-bottom: 60px;
	font-size: 16px;
}

.features > .container #features {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.features > .container .feature-item {
	width: 300px;
	margin-bottom: 50px;
	display: inline-flex;
	align-items: flex-start;
}

.features > .container .feature-item .feature-item-logo {
	margin-right: 15px;
	border-radius: 1px;
	min-width: 40px;
	height: 40px;
	background-color: var(--item-bc);
	display: flex;
	align-items: center;
	justify-content: center;
}

.features > .container .feature-item .feature-item-logo svg {
	width: 20px;
	height: 20px;
}

.features > .container .feature-item .feature-item-info p:nth-child(1) {
	margin-top: 10px;
	font-size: 14px;
	font-weight: bold;
}

.features > .container .feature-item .feature-item-info p:nth-child(2) {
	margin-top: 10px;
	font-size: 13px;
}
