section:nth-child(3) {
	margin-top: 50px;
}

section:nth-child(3) > .container {
	position: relative;
	width: 100%;
	max-width: var(--app-width);
}

section:nth-child(3) > .container .features-text {
	margin-bottom: 80px;
	font-size: 16px;
}

section:nth-child(3) > .container::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	transform: translate(0, 9px);
	height: 1px;
	width: 84%;
	background-color: var(--primary);
	opacity: 0.4;
}

section:nth-child(3) > .container .features {
	padding: 0 0 0 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

section:nth-child(3) > .container .feature-item {
	width: 300px;
	display: inline-flex;
	align-items: flex-start;
}

section:nth-child(3) > .container .feature-item .feature-item-logo {
	margin-right: 15px;
	border-radius: 1px;
	min-width: 40px;
	height: 40px;
	background-color: var(--item-bc);
	display: flex;
	align-items: center;
	justify-content: center;
}

section:nth-child(3) > .container .feature-item .feature-item-logo svg {
	width: 20px;
	height: 20px;
}

section:nth-child(3) > .container .feature-item .feature-item-info {
	/* style */
}

section:nth-child(3) > .container .feature-item .feature-item-info p:nth-child(1) {
	margin-top: 10px;
	font-size: 14px;
	font-weight: bold;
}

section:nth-child(3) > .container .feature-item .feature-item-info p:nth-child(2) {
	margin-top: 10px;
	font-size: 13px;
}
