:root {
	--app-width: 710px;
	--grey01: #4a4849;
	--grey02: #3a3c42;
	--grey03: #2a2b2f;
	--yellow01: #f5deba;
	--yellow02: #ffd56a;
}

.dark {
	--primary: var(--yellow01);
	--secondary: var(--yellow02);
	--fc: var(--grey03);
	--bc: var(--grey02);
	--item-bc: var(--grey01);
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

body {
	position: relative;
	width: 100vw;
	height: 100vh;
	color: var(--primary);
	background-color: var(--bc);
}

.app {
	position: relative;
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: filter 0.1s;
}

footer {
	margin-top: 70px;
	width: 100%;
	text-align: center;
	padding-bottom: 20px;
	font-size: 12px;
}

section {
	position: relative;
	width: 100vw;
	display: flex;
	justify-content: center;
}

.container {
	width: 100%;
	max-width: var(--app-width);
}

a {
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

svg {
	fill: var(--primary);
	width: 30px;
	height: 30px;
}

button {
	outline: none;
	border: none;
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
