.hero {
	position: relative;
	background-color: var(--fc);
	z-index: 1;
}

.hero > .container h1 {
	text-align: center;
	margin: 100px 0 30px 0;
	font-size: 33px;
}

.hero > .container p {
	font-size: 20px;
	margin: 20px 0;
	text-align: center;
}

.hero > .container .input-container {
	position: relative;
	transform: translate(0, 55%);
	margin-top: 50px;
	padding: 0 10px;
	width: 100%;
	background-color: var(--primary);
	height: 45px;
	border-radius: 1px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.hero > .container .input-container input {
	padding-right: 10px;
	flex-grow: 1;
	border: none;
	background-color: transparent;
	height: 100%;
	font-size: 16px;
	color: var(--fc);
	font-weight: bold;
	outline: none;
	text-overflow: ellipsis;
}

.hero > .container .input-container input::placeholder {
	font-size: 16px;
	display: flex;
	align-items: center;
}

.hero > .container .input-container button {
	font-size: 16px;
	font-weight: bold;
}

.hero > .container .input-container button:active {
	transform: scale(0.92);
}
