.qrcode-popup {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
}

.qrcode-popup .qrcode-container {
	position: relative;
	border-radius: 2px;
	padding: 50px;
	color: var(--fc);
	background-color: var(--primary);
	z-index: 2;
	animation: popUp 0.2s ease-in;
}

.qrcode-popup .qrcode-container button svg {
	position: absolute;
	top: 20px;
	right: 15px;
	fill: var(--fc);
}

.qrcode-popup .qrcode-container h1 {
	font-size: 20px;
}

.qrcode-popup .qrcode-container p {
	font-size: 16px;
	margin: 5px 0 35px 0;
}

@keyframes popUp {
	0% {
		opacity: 0;
	}
}

@keyframes popUpDesktop {
	0% {
		transform: translateY(-10px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
	}
}
