<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Mooze | Online free url shortener </title>
  <meta name="Description"
    content="Looking for an online free short url generator? Say no more! Mooze's got your back!">
  <meta name="Keywords"
    content="Online free url shortener, best short url generator, free link generator, tiny url generator, link shortener, short url, tinyurl">
  <link rel="icon" href="./favicon.ico" />
  <link rel="stylesheet" href="./style.css" />
  <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js"></script>
  <script defer type="module" src="./js/index.js"></script>
</head>

<body class="dark">
  {{{body}}}
</body>

</html>