<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Mooze | Online free URL shortener </title>
  <meta name="description"
    content="Looking for an online free short URL generator? Say no more! Mooze's got your back!">
  <meta name="keywords"
    content="url shortener, link management platform, bitly, tinyurl, api, branded urls, links shortener, tiny url, short url, short link, links shortening, url tracking, free url shortener, custom url shortener, shortening url, shorten url, shorten links, url, link, url redirect, shorter link, customize url, customize link, url shortener no ads, url shortener without ads, cuttly">
  <link rel="icon" href="./favicon.ico" />
  <link rel="stylesheet" href="./style.css" />
  <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js"></script>
  <script defer type="module" src="./js/index.js"></script>
</head>

<body class="dark">
  {{{body}}}
</body>

</html>